

  <div id="wrapper" class="topcorner">
      <% console.log(user_id); if (user_id !== undefined) { %>
        Email: <%= user_id.email  %>
        </div>
        <div id="logout-button">
          <form action="/logout" method="POST">
            <input type="submit" value="Logout">
          </form>
        </div>
      <% } else {  %>
        <a href='/login'>Login</a>

        <a href='/register'>Register New User</a>
      <% } %>
  </div>