<header title="header">
    <h1>TinyURL APP</h1>

    <form action="/login" method="POST">
      <input type="text" name="username" value="<%=  %>">
      <input type="submit" value="Edit">
    </form>
</header>