

  <div id="wrapper">
    <div id="username-display">
      <% if (user_id !== undefined) { %>
        <h5>Email: <%= user_id.email  %></h5>
    </div>
    <div id="logout-button">
      <form action="/logout" method="POST">
        <input class="button" type="submit" value="Logout">
      </form>
    </div>
      <% } else {  %>
    <div>
        <a href='/login'>Login</a>

        <a href='/register'>Register New User</a>
      <% } %>
    </div>
  </div>