<% include ./partials/_headtag %>
<% include ./partials/_header %>

    <h2>Login</h2>
    <div id="wrapper" class="topcorner">
      <div id="user-login">
      <%if (!user_id) { %>
        <form action="/login" method="POST">
          <label for="email">email address:</label>
          <input type="email" name="email" placeholder="email address">
          <br>
          <label for="password">password:</label>
          <input id="password" type="password" name="password" placeholder="password" style="width: 300px">
          <br>
          <input type="submit" value="Login">
        </form>
          <div name="div-email">
      <% } else {  %>
          Email: <%= user_id.email  %>
        </div>
        <div id="logout-button">
          <form action="/logout" method="POST">
            <input type="submit" value="Logout">
          </form>
        </div>
      <% } %>
    </div>
  </body>
</html>