<% include ./partials/_headtag %>
<% include ./partials/_header %>


 <h2>Register</h2>
    <form action="/register" method="POST">
      <label for="email">Email address:</label>
      <input class="button-text" id="email" type="email" name="email" placeholder="email address">
      <br>
      <label for="password">Password:</label>
      <input class="button-text" id="password" type="password" name="password" placeholder="password">
      <br>
      <input class="button" type="submit" value="Register">
    </form>
  </body>
</html>