<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
  <style>
    body {
      font-size:20px;
      /*color: #444;*/
    }
    table {
      padding:20px;
    }

    td {
      padding:20px;
    }

    input {
      font-size:20px;
    }

    div[name=logout-button] {
      float:right;
      font-size:50px;
    }

    div[name=div-username] {
      float:right;
      font-size:50px;
    }

    .topcorner {
      position:absolute;
      top:0;
      right:0;
    }

  </style>
</head>
<body>
  <header>
    <% include ./partials/_header %>
  </header>

  <table>
    <% for(key in urls) { %>
        <tr>
          <td>
            <em><%= key %> &rarr; <%= urls[key] %></em>
          </td>
          <td padding="10px">
            <a href='/urls/<%= key %>'>Edit URL</a>
          </td>
          <td padding="10px">
            <form method="POST" action="/urls/<%= key %>/delete">
              <input type="submit" value="Delete">
            </form>
          </td>
        </tr>
    <% }; %>

  </table>

<a href='/urls/new'>add new URL</a>




</body>
</html>