<% include ./partials/_headtag %>
<% include ./partials/_header %>

  <table>
    <% for(key in urls) { %>
        <tr>
          <td>
            <em><%= key %> &rarr; <%= urls[key] %></em>
          </td>
          <td>
            <a href='/urls/<%= key %>'>Edit URL</a>
          </td>
          <td>
            <form method="POST" action="/urls/<%= key %>/delete">
              <input type="submit" value="Delete">
            </form>
          </td>
        </tr>
    <% }; %>
  </table>

  <a href='/urls/new'>add new URL</a>




</body>
</html>