<% include ./partials/_headtag %>
<% include ./partials/_header %>

    <form action="/urls" method="POST">
      <label for="longURL">Enter a URL:</label>
      <input class="button-text" id="longURL" type="text" name="longURL" placeholder="http://">
      <input class="button" type="submit" value="Submit">
    </form>
  </body>
</html>