<% include ./partials/_headtag %>
<% include ./partials/_header %>


  <form action="/urls/<%= shortURL %>/" method="POST">
      <h5>Short URL:  <%= shortURL %> </h5>

      <label for="longURL">Edit the URL:</label>
      <input class="button-text" id="longURL" type="text" name="longURL" placeholder="http://" value="<%= longURL %>">
      <input class="button" type="submit" value="Edit">
    </form>

</body>
</html>