<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
  <header>
    <% include ./partials/_header %>
  </header>

  <ul>
    <% for(key in urls) { %>
        <li>
          <%= key %> - <%= urls[key] %>
          <form method="POST" action="/urls/<%= key %>/delete">
            <input type="submit" value="Delete">
          </form>
          <a href='/urls/<%= key %>'>edit URL</a>
        </li>
    <% }; %>

  </ul>

<a href='/urls/new'>add new URL</a>




</body>
</html>