<% include ./partials/_headtag %>
<% include ./partials/_header %>

  <table>
    <% for(key in urls) { %>
        <tr>
          <td>
            <em><b><%= key %> &rarr; </b> <%= urls[key].longURL %></em>
          </td>
          <td>
            <a class="button" href='/urls/<%= key %>'>Edit URL</a>
          </td>
          <td>
            <form method="POST" action="/urls/<%= key %>/delete">
              <input class="button" type="submit" value="Delete">
            </form>
          </td>
        </tr>
    <% }; %>
  </table>

  <a href='/urls/new'>add new URL</a>




</body>
</html>