<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
  <header>
    <% include ./partials/_header %>
  </header>
  <pre>
      Short URL is: <%= shortURL %>
      Long URL is: <%= longURL %>
  </pre>

</body>
</html>