body{
    font-family:DejaVu Serif, Georgia, Arial, Helvetica, Sans-serif,serif;
    font-size:18px;
    color:#454140;
    background:#e0e2e4;
}

h1 {
    font-size:50px;
    color:#3b3a30;
}

h3 {
    font-size:22px;
}

a, .button, .button-text{
    background-color: #87bdd8;
    box-sizing: border-box;
    font-size: 12px;
    font-family: "DejaVu Serif";
    display: inline-block;
    border-radius: 3px;
    color: black;
    padding: 1em 1.5em;
    border: none;
    text-decoration: none;
    text-transform: uppercase;
}

.button-text {
    background-color: #f0f0f0;
}

a:hover, .button:hover{
    background-color: Crimson;
}

#wrapper {
    margin: 50px;
}

#username-display, #logout-button {
    margin: 10px;
}