body{
    font-family:DejaVu Serif, Georgia, Arial, Helvetica, Sans-serif,serif;
    font-size:2vw;
    color:#454140;
    background:#e0e2e4;
    text-align: center;
}

h1 {
    font-size:6vw;
    color:#3b3a30;
}

h3 {
    font-size:5vw;
}

h5 {
    font-size:4vw;
}

table {
    margin-bottom: 1vw;
    margin-top: 1vw;
    margin-left:auto;
    margin-right:auto;
}

a, .button, .button-text{
    background-color: #87bdd8;
    box-sizing: border-box;
    font-size: 2vw;
    font-family: "DejaVu Serif";
    display: inline-block;
    border-radius: 1vw;
    color: black;
    padding: 1em 1em;
    border: none;
    text-decoration: none;
    text-transform: uppercase;
}

.button-text {
    background-color: #f0f0f0;
    font-size: 2vw;
}

a:hover, .button:hover{
    background-color: Crimson;
}

#wrapper {
    margin: 5px;
}

#username-display, #logout-button {
    margin: 5px;
}